<div class="s2">
  <div class="teams">
    <div class="top">
      <%= render view_home, :game => game, :team => game.home, :prev => prev_home %>
      <div class="lines"></div>
    </div>
    <div class="bottom">
      <div class="lines"></div>
      <%= render view_away, :game => game, :team => game.away, :prev => prev_away %>
    </div>
  </div>
</div>