<div class="s3">
  <div class="top">
    <%= render 'brackets/s1', :teams => [ teams[0] ] %>
    <div class="lines"></div>
  </div>
  <div>
    <%= render 'brackets/s2', :teams => [ teams[1], teams[2] ] %>
  </div>
</div>