<h2><%= @tournament.teams.size %> Team Tournament</h2>

<div id="bracket" class="bleft">
  <% @rounds.each do |r| %>
    <div class="round">
      <%= r.html_safe %>
    </div>
  <% end %>
</div>

<div style="clear:both"></div>
<br /><br /><%= debug @bracket.games %><br /><br />