<ul id="tournaments">
<% @tournaments.each do |tournament| %>
  <li><%= link_to tournament.name, edit_tournament_url(tournament) %></li>
<% end %>
</ul>

<%= link_to 'New Tournament', new_tournament_url %>