<% content_for :header do %>
  <h1 class="ui-title" role="heading" aria-level="1">Bractrack</h1>
<% end %>

<%= link_to 'New Tournament', new_tournament_url, 'data-role' => 'button', 'data-theme' => 'b' %>

<div class="custom-corners">
  <div class="ui-bar ui-bar-a">
    <h3>Search Tournaments</h3>
  </div>
  <div class="ui-body ui-body-a">
    <ul id="tournaments" data-role="listview" data-inset="true" data-filter="true">
      <% @tournaments.each do |tournament| %>
        <li><%= link_to tournament.name, tournament %></li>
      <% end %>
    </ul>
  </div>
</div>
