<h2>What's up?!</h2>

<div data-role="controlgroup">
  <%= link_to 'Start a Tournament', new_tournament_url, 'data-role' => 'button' %>
  <%= link_to 'Browse Tournaments', tournaments_url, 'data-role' => 'button' %>
</div>