<% content_for :header do %>
  <h1 class="ui-title" role="heading" aria-level="1">Bractrack</h1>
<% end %>

<div data-role="controlgroup">
  <%= link_to 'Start a Tournament', new_tournament_path, 'data-role' => 'button' %>
  <%= link_to 'Browse Tournaments', tournaments_path, 'data-role' => 'button' %>
</div>