/***/

a { text-decoration: none; }

td.num { text-align: right; }

.none { display: none; }

#pools_standings {
  .ui-block-a, .ui-block-b {
    padding: 12px 4px;
  }
}

#standings {
  width: 100%;
  
  td, th {
    padding: 4px;
  }
  
  th {
    text-align: right;
  }
  
  td {
    border-bottom: 1px solid #ddd;
    
    
  }
  .place { border: 0; }
}

#bracket div {
  margin: 10px;
}

.top div {
  margin: 4px 0 0 0 !important;
  height: 10px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.bottom div {
  margin: 0 0 4px 0 !important;
  height: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}