/***/

td.num { text-align: right; }

#pools_standings {
  .ui-block-a, .ui-block-b {
    padding: 12px 4px;
  }
}

#standings {
  width: 100%;
  
  td, th {
    padding: 4px;
  }
}
#standings th { text-align: left; }