<!DOCTYPE html>
<html>
<head>
  <title>Tourney Time</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<a href="/" id="logo">Tourney Time</a>

<%= yield %>

</body>
</html>